import(data.table, ggplot2, IgorR, parallel) #Change to only import functions used in Rasylum
export(buildFrame,saveFits,collateFits,normalizeFrame,stripRet,stripApr,getDwell,loadIBW,findLocalMinima,batchLoad,quickLoad,loadPreSorted,stiffnessSphereOnPlane,stiffnessSphereOnSphere,identIterate,parExtractStiffness,fixFlatFits,forceNonFlatFits,extractTimeConst,parExtractTimeConst,extractApproachAdhesion,extractRetractionAdhesion,parExtractApproachAdhesion,parExtractRetractionAdhesion) #Remove functions a user should never use
