import(data.table, ggplot2, IgorR, parallel) #Change to only import functions used in Rasylum
export(saveFits,collateFits,normalizeFrame,stripRet,stripApr,getDwell,loadIBW,loadPreSorted,stiffnessSphereOnPlane,parExtractStiffness,fixFlatFits,forceNonFlatFits,extractTimeConst,parExtractTimeConst,extractApproachAdhesion,extractRetractionAdhesion,parExtractApproachAdhesion,parExtractRetractionAdhesion,read.ardf) #Remove functions a user should never use
